<!DOCTYPE html>
<html lang="en">
<head>
<title>Works Cited</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
    <a href="blog" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Project Blog</a>
    <a href="select-component" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Parts Search</a>
    <a href="timeline" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Project Timeline/Narrative</a>
    <a href="works" class="w3-bar-item w3-button w3-padding-large w3-white">Works Cited</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Works Cited</h1>
</header>

<!-- Main content -->
<div class="w3-container w3-padding-64">
  <h2>References</h2>
  <p>Alcorn, P. (2022, October 15). AMD ryzen 9 7950X and ryzen 5 7600X review: A return to gaming dominance. Tom’s Hardware. https://www.tomshardware.com/reviews/amd-ryzen-9-7950x-ryzen-5-7600x-cpu-review </p>
  <p>Alcorn, P. (2023, November 18). CPU benchmarks and hierarchy 2024: CPU Rankings. Tom’s Hardware. https://www.tomshardware.com/reviews/cpu-hierarchy,4312.html </p>
  <p>AMD socket AM4 chipset. (n.d.-a). https://www.amd.com/en/products/processors/chipsets/am4.html </p>
  <p>Awati, R., Gillis, A. S., & Steele, C. (2023, November 8). What is a graphics processing unit (GPU)?: Definition from TechTarget. Virtual Desktop. https://www.techtarget.com/searchvirtualdesktop/definition/GPU-graphics-processing-unit </p>
  <p>CDW. (2020, September 1). How to choose a PC power supply. CDW.com. https://www.cdw.com/content/cdw/en/articles/hardware/how-choose-power-supply.html </p>
  <p>Compatibility of Intel® coreTM desktop processors (14th gen). Intel. (n.d.). https://www.intel.com/content/www/us/en/support/articles/000096847/processors.html#:~:text=Intel%C2%AE%20Core%E2%84%A2%20Desktop%20processors%20(14th%20gen)%20use%20the,13th%20to%20a%2014th%20gen. </p>
  <p>GPU vs CPU - difference between processing units - AWS. (n.d.-b). https://aws.amazon.com/compare/the-difference-between-gpus-cpus/ </p>
  <p>Khan Academy. (n.d.). CPU: Central Processing Unit | AP CSP (article). Khan Academy. https://www.khanacademy.org/computing/computers-and-internet/xcae6f4a7ff015e7d:computers/xcae6f4a7ff015e7d:computer-components/a/central-processing-unit-cpu </p>
  <p>Kirvan, P. (2022, June 6). What is a motherboard?. WhatIs. https://www.techtarget.com/whatis/definition/motherboard#:~:text=A%20motherboard%20is%20the%20main,especially%20desktop%20and%20laptop%20PCs. </p>
  <p>Walton, J. (2024, June 7). The GPU benchmarks hierarchy 2024: All recent graphics cards ranked. Tom’s Hardware. https://www.tomshardware.com/reviews/gpu-hierarchy,4388.html </p>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
